



@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');


:root {
  
  --font: 'figtree';

  
  --corner-text: 'catbug0x1';

  
  --online-indicator: #faba73; 
  --dnd-indicator: #ffb4ab; 
  --idle-indicator: #becc9c; 
  --streaming-indicator: #e0c1a3; 

  
  --accent-1: #becc9c; 
  --accent-2: #faba73; 
  --accent-3: #faba73; 
  --accent-4: #673d00; 
  --accent-5: #faba73; 
  --mention: #673d00; 
  --mention-hover: #faba73; 

  
  --text-0: #482900; 
  --text-1: #eee0d5; 
  --text-2: #eee0d5; 
  --text-3: #eee0d5; 
  --text-4: #d4c4b5; 
  --text-5: #9d8e81; 

  
  --bg-1: #19120c; 
  --bg-2: #302921; 
  --bg-3: #251e17; 
  --bg-4: #19120c; 
  --hover: #302921; 
  --active: #3b332c; 
  --message-hover: #302921; 

  
  --spacing: 12px;

  
  
  --list-item-transition: 0.2s ease;
  
  --unread-bar-transition: 0.2s ease;
  
  --moon-spin-transition: 0.4s ease;
  
  --icon-spin-transition: 1s ease;
  

  
  --roundness-xl: 22px;
  
  --roundness-l: 20px;
  
  --roundness-m: 16px;
  
  --roundness-s: 12px;
  
  --roundness-xs: 10px;
  
  --roundness-xxs: 8px;
  

  
  
  --discord-icon: none;
  
  --moon-icon: block;
  
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  
  --moon-icon-size: auto;

  
  
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
  
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
  
}


.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--bg-4) !important;
  background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
  color: var(--bg-4) !important;
  fill: var(--bg-4) !important;
}
