


@define-color background     #19120c;
@define-color foreground     #eee0d5;
@define-color black          #19120c;
@define-color red            #ffb4ab;
@define-color green          #faba73;
@define-color yellow         #becc9c;
@define-color blue           #e0c1a3;
@define-color magenta        #3f4b26;
@define-color cyan           #58432c;
@define-color white          #eee0d5;
@define-color bright_black   #251e17;
@define-color bright_white   #eee0d5;


@define-color accent_bg_color #faba73;
@define-color accent_fg_color #482900;
@define-color accent_color #faba73;


@define-color window_bg_color #19120c;
@define-color window_fg_color #eee0d5;


@define-color view_bg_color #19120c;
@define-color view_fg_color #eee0d5;


@define-color sidebar_bg_color #211a14;
@define-color sidebar_fg_color #eee0d5;
@define-color sidebar_backdrop_color #19120c;
@define-color sidebar_shade_color #19120c;


@define-color headerbar_bg_color #211a14;
@define-color headerbar_fg_color #eee0d5;
@define-color headerbar_backdrop_color #19120c;
@define-color headerbar_shade_color #19120c;


@define-color card_bg_color #251e17;
@define-color card_fg_color #eee0d5;


@define-color popover_bg_color #251e17;
@define-color popover_fg_color #eee0d5;


@define-color dialog_bg_color #251e17;
@define-color dialog_fg_color #eee0d5;


@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;
@define-color destructive_color #ffb4ab;

@define-color success_bg_color #faba73;
@define-color success_fg_color #482900;
@define-color success_color #faba73;

@define-color warning_bg_color #becc9c;
@define-color warning_fg_color #293411;
@define-color warning_color #becc9c;

@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;
@define-color error_color #ffb4ab;


@define-color borders alpha(@foreground, 0.1);

@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @black;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;

@define-color insensitive_bg_color @background;
@define-color insensitive_fg_color @bright_black;
@define-color insensitive_base_color @black;

@define-color theme_unfocused_fg_color @foreground;
@define-color theme_unfocused_text_color @foreground;
@define-color theme_unfocused_bg_color @background;
@define-color theme_unfocused_base_color @black;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;

@define-color unfocused_insensitive_color @bright_black;
@define-color unfocused_borders alpha(@foreground, 0.1);

@define-color content_view_bg @view_bg_color;
@define-color text_view_bg @view_bg_color;


messagedialog {
    background-color: @dialog_bg_color;
}

messagedialog label {
    color: @dialog_fg_color;
}

banner revealer widget {
    background: @bright_black;
    padding: 5px;
    color: @foreground;
}

alertdialog.background {
    background-color: @dialog_bg_color;
    color: @dialog_fg_color;
}

alertdialog box {
    background-color: @dialog_bg_color;
}

alertdialog label {
    color: @dialog_fg_color;
}

toast {
    background-color: @card_bg_color;
    color: @foreground;
}
